
            h1{color:blue;
            background:yellow;}
            
            #first{color:blue;
            background:green;}
            
            #second{color:blue;
            background:red;}
            
            
            